.BalanceDisplay .icon {
    float: left;
    clear: left;
    width: 3em;
    font-size: 1rem;
}

.BalanceDisplay .balance {
    font-size: 1rem;
}

.BalanceDisplay .postpaid {
    display: block;
    clear: left;
}

.BalanceDisplay .coin {
    color: gold;
}