.DateDisplay {
    margin-top: -0.3em;
    padding-left: 3em;
}

.DateDisplay .date{
    font-size: 0.7rem;
}
.DateDisplay .icon {
    float: left;
    clear: left;
    width: 2em;
    font-size: 0.8rem;
}