
/* autoprefixer: off */
@supports(display:grid) {
    .stats {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
            "vitals graph";
    }
}

.stats > .vitals {
    grid-area: vitals;
    padding-top: 1rem;    
    white-space: nowrap;
}

.stats > .graph {
    grid-area: graph;
}

.GatewayWidget .Progress {
    padding-top: 1rem;
}