.Widget {
    background-color: #34495e;
    padding: 1rem;
    transition: all .2s ease-in-out;
}

.Widget:hover {
    transform: scale(1.05);
}

/* autoprefixer: off */
@supports(display:grid) {
    .Widget {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "header icons"
            "stats stats"
            "footer activity";
    }
}

.Widget>.header {
    grid-area: header;
    white-space: nowrap;
    overflow: hidden;
}

.Widget>.header>.title {
    font-size: 1.2em;
}

.Widget>.footer {
    grid-area: footer;
    padding-top: 0.5em;
}


.Widget .footer .upDate {
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
}

.Widget .activity {
    grid-area: activity;
    padding-top: 0.5em;
    text-align: right;
}

.Widget>.icons {
    grid-area: icons;
    text-align: right;
}

.Widget .icon {
    margin-left: 0.4em;
}

.Widget .controls {
    position: relative;
    margin-top: 0em;
    margin-left: 0em;
    opacity: 0;
    transition: opacity 1000ms ease-in-out;

    .icon {
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    .icon:hover {
        transform: scale(1.3);
        color: red;
    }
}

.Widget .controls:hover {
    opacity: 1;
}

.invisible {
    visibility: hidden;
}


.Widget h2 {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1;
    text-overflow: ellipsis;
}

.Widget .Loading {
    margin-left: 0.2rem;
}

.Widget>.stats {
    grid-area: stats;
    white-space: nowrap;
}

@media(max-width: 600px) {
    .Widget .content {
        padding-top: 0.25rem;
    }
}

.Widget .on {
    color: rgb(0, 255, 0);
}

.Widget .off {
    color: red;
}

.Widget .dataOn {
    color: greenyellow;
}

.Widget .phoneNumber {
    margin: 10px;
    cursor: copy; // Change cursor
    transition: color 0.5s ease, opacity 0.5s ease, font-size 0.5s ease;

    &:hover {
        color: #1e90ff; // DodgerBlue
        font-size: 1.2em;
    }

    &.copied {
        color: #32cd32; // LimeGreen
        opacity: 0.8;
    }
}